body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image:  url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
   
  }

  .card {
    background-color: #000;
    opacity: 70%;
    width: 450px;
    height: 420px;
    max-width: 500px;
    border-radius: 30px;
    padding: 2em;
  }
  
  .search {
    font: bold;
    display: flex;
    justify-content: end;
  }

.searchBox {
    width: 180px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #dddddd2b;
    color: white;
}

  .search-button {
  margin-left: 7px;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #dddddd2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  }

  .search-button:hover {
    background-color: #f4f4f46b;;
  }

  .location {
    color: #ffff;
    position: relative;
    top: -40px;
    text-align: left;
    font-size: larger;
  }

  .number {
    color: #ffff;
    text-align: left;
    font-size: 90px;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .riz {
    color: #ffff;
    font-size: 15px;
    position: relative;
    top: -70px;
    left: -20px;
    bottom: 30px;
  }

  #icon {
    position: relative;
    left: -125px;
    top: -23px;
    width: 0px;
    height: 0px; 
  }

  .detail {
    color: #ffff;
    text-align: left;
    position: relative;
    left: 210px;   
    bottom: 98px;
  }

  .moods {
    position: relative;
    bottom: 22px;
  }


  .date {
    color: #ffff;
    text-align: left;
    position: relative;
    font-size: small;
    left: 0px;   
    bottom: 40px;
  }

  .extraresource {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    opacity: 70%;
    text-align: center;
    font-size: smaller;

  }

  .link {
  text-decoration: none;
  color: gray;
  }

  .row  {
    height: 20px;
    color: #ffff;
    text-align: center;
    column-gap: 25px;
    font-size: larger;
  }
  
.one , .three , .five {
    margin-top: 0px;
    position: relative;
    top: -70px;
  }
  
  .two , .four {
    margin-top: 0px;
    position: relative;
    top: -100px;
  }
  
  .forset-detail {
    font-size: 15px;
  }

  .icon-imgs {
    
    width: 30px;
    height: auto;
  }